<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dced80">  <td>19/01/17 20:29:38</td>   <td>0</td> <td title="&gt;&gt;Basicreports.startReport()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:29:40</td>   <td>1191</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:29:40</td>   <td>1197</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:29:40</td>   <td>1206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>19/01/17 20:29:40</td>   <td>1206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Duplicatelead.setData()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>19/01/17 20:29:40</td>   <td>1215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Basicreports.report()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:29:40</td>   <td>1223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>19/01/17 20:29:53</td>   <td>14176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Duplicatelead.duplicatlead()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">duplicatlead</td> 
  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:30:10</td>   <td>31116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:30:10</td>   <td>31116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:30:10</td>   <td>31119</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.afterTest()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="82b6b2">  <td>19/01/17 20:30:10</td>   <td>31151</td> <td title="&lt;&lt;Annotations.afterSuite()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>19/01/17 20:30:10</td>   <td>31151</td> <td title="&lt;&lt;Basicreports.stopReport()[pri:0, instance:testcases.Duplicatelead@1c1bbc4e]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1781493632</td>   <td></td> </tr>
</table>
