<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a287af">  <td>19/01/12 16:35:20</td>   <td>0</td> <td title="&gt;&gt;Basicreports.startReport()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:21</td>   <td>827</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:21</td>   <td>827</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="d1999a">  <td>19/01/12 16:35:21</td>   <td>827</td> <td>&nbsp;</td><td title="&gt;&gt;Createlead2.setData()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:21</td>   <td>843</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>19/01/12 16:35:21</td>   <td>874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Basicreports.report()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:21</td>   <td>889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="d1999a">  <td>19/01/12 16:35:32</td>   <td>12442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createlead2.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Createlead2@5dda768f]">createlead</td> 
  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:38</td>   <td>18396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>19/01/12 16:35:38</td>   <td>18397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Basicreports.report()[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:38</td>   <td>18398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Createlead2@5dda768f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="d1999a">  <td>19/01/12 16:35:48</td>   <td>27933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createlead2.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Createlead2@5dda768f]">createlead</td> 
  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:53</td>   <td>33688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:53</td>   <td>33688</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:53</td>   <td>33691</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.afterTest()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/01/12 16:35:53</td>   <td>33714</td> <td title="&lt;&lt;Annotations.afterSuite()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>19/01/12 16:35:53</td>   <td>33714</td> <td title="&lt;&lt;Basicreports.stopReport()[pri:0, instance:testcases.Createlead2@5dda768f]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1536471117</td>   <td></td> </tr>
</table>
